
<ul>
<% @events.each do |event| %>
  <li>
 	  <%= event.name %>
 	  <p> <%= event.description %> </p>
  <%= link_to 'Show', event_path(event) %>
  <%= link_to 'Edit', edit_event_path(event) %>
  <%= button_to 'Delete', event_path(event) , :method => :delete %>
  </li>
<% end %>
</ul>
<br>
<%= link_to 'New Event', new_event_path %>
<%= link_to 'Home' , root_path %>
<br>
<br>
<%= paginate @events %>
