<div class="row">
  <div class="col-sm-6 col-md-3">
<ul>
<% @events.each do |event| %>
<div class="thumbnail">
  <%= button_to  event_path(event) , :method => :delete ,class: "btn  btn-danger event_remove",title: "close" do%>
  <li>
    <i class="glyphicon glyphicon-remove"></i>
    <% end %>
 	  <h1><%= event.name %></h1>
 	  <div class="well well-sm">
 	  <p> <%= event.description %> </p>
 	  </div>
  <%= link_to  event_path(event) , class: "btn btn-large btn-info" do%>
  <i class = "glyphicon glyphicon-book"></i>
  <% end %>
  <%= link_to edit_event_path(event), class: "btn btn-large btn-info" do%>
  <i class = "glyphicon glyphicon-pencil"></i>
  <% end %>  


</li>
</div>
<% end %>
</ul>
  </div>
</div>  
<div class="event_bottom">
      <%= link_to new_event_path  , :class => 'btn btn-small btn-success' do %>
      <i class = "glyphicon glyphicon-plus"></i> 新增<% end %>
      
      <%= link_to root_path, :class => 'btn btn-primary'  do%>
      <i class = "glyphicon glyphicon-home"></i> Home<% end %>
      <br>
      <%= paginate @events %>
<div>
